.commonColor {
  background-color: #357df9;
}
.borderColor {
  border-color: #357df9;
}

/* .checkmark__circle {
  stroke: #0756f5 !important;

  color: #0756f5 !important;
  background-color: #0756f5 !important;
} */
